/BaseProject/BaseProject/Project/.vs
/BaseProject/BaseProject/Project/Debug
/BaseProject/BaseProject/Game/GameProject.exp
/BaseProject/BaseProject/Game/GameProject.lib
/BaseProject/BaseProject/Game/GameProject.pdb
/BaseProject/BaseProject/Game/GameProject.exe
/BaseProject/BaseProject/Project/Release
